
MiNote/MiNote.xcodeproj/xcuserdata/JohnGump.xcuserdatad/xcschemes/MiNote.xcscheme

MiNote/MiNote.xcodeproj/xcuserdata/JohnGump.xcuserdatad/xcschemes/xcschememanagement.plist

MiNote/MiNote.xcworkspace/xcuserdata/JohnGump.xcuserdatad/UserInterfaceState.xcuserstate
